*{width:883px;
  font-family: 'Montserrat', sans-serif;
}
h1 {
	color:#ffb300;		
	 font-size:89px;
	font-weight: 900;
	line-Height: 79px;
	}
h2 {
			color:#ffb300;		
			font-weight: 900;
	}

.txt {	
	 		font-size:21px;	
			font-weight: 500;
			line-height:21px;
	}
.centrado{	
			text-align:center;
    		border:1px dotted #000;
    		padding:8px;
    		color:#000000;
			font-size:25px;
			font-weight: 500;
			line-height:21px;
    	}

p 	{		
			color:#000000;
			font-size:21px;
			font-weight: 500;
			line-height:21px;
	}
.txt {		
			font-size:21px;	
			font-weight: 500;
	 		line-height:21px;
	}

.formulario {	
			color:#000000;
			font-size:25px;
			font-weight: 500;
			line-height:21px;
			}
input	{	
			display: block;

		}


form input {
  
  
  
  height: 25px;
  
  
  
  		}



.quebra{
            display: block;
        }

.espaco{
            margin-bottom: 15px;
        }
.espaco_t{
            margin-bottom: 15px;
         }
 form  {
            border: 1px solid #000;
            padding: 10px;
            border-radius: 15px;
            background-color: #eee;
       }
#dv_btns{     
			 display: flex;
        }
